/*base*/
*, *::after, *::before {
  margin: 0;
  padding: 0; }

html {
  /*font-size: 62.5%;/*1rem=10px  =>  1rem=10px <==  site:http://pxtoem.com*/
  box-sizing: inherit;
  font-size: 100%; }

body {
  box-sizing: border-box; }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 400;
  src: url("../font/eot/iranyekanwebthin.eot");
  src: url("../font/eot/iranyekanwebthin.eot?#iefix") format("embedded-opentype"), url("../font/woff/iranyekanwebthin.woff") format("woff"), url("../font/ttf/iranyekanwebthin.ttf") format("truetype"); }

body {
  font-family: iranyekan,tahoma;
  direction: rtl;
  line-height: 1.6;
  font-size: 13px; }

nav ul li a {
  color: #616161; }

/*abstracts*/
/*pages*/
body {
  max-width: 1920px;
  background: #fff;
  color: #080707;
  margin: 0 auto; }

.container {
  margin: 0 auto; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

ul li {
  list-style: none; }

p {
  text-align: justify;
  line-height: 1.7; }

.mgy-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mr-right {
  margin-right: 20px; }

.nav-link {
  display: inline-block !important; }

.img {
  max-width: 100%; }

.bg-services {
  background: #DEE1E5; }

.bg-migration {
  background: #F4F5F6; }

.pdy-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.pd-form-submit {
  padding: 20px 30px; }

.padding-newsgroup {
  padding: 40px 30px; }

.mb {
  margin-bottom: 0 !important; }

/*header*/
.header__top-bar {
  height: 32px;
  background: #414C57; }
  .header__top-bar .container {
    display: flex;
    justify-content: space-between; }
    .header__top-bar .container .header__top-bar--contact a, .header__top-bar .container .header__top-bar--social a {
      color: #ffffff;
      font-weight: 700; }
    .header__top-bar .container .header__top-bar--contact i, .header__top-bar .container .header__top-bar--social i {
      font-size: 19px;
      color: #fff;
      background: #414c57;
      margin: 4px 10px; }

.header__navbar .navbar-brand {
  padding: 0;
  margin: 0; }
  .header__navbar .navbar-brand .logo {
    max-width: 107px;
    height: auto; }

.header__navbar ul li img {
  max-width: 20px;
  margin-bottom: 7px; }

.header__navbar ul li a {
  font-weight: 700;
  color: #080707; }

.header__navbar ul li:active {
  border-bottom: 2px solid #414c57; }

.header__navbar ul li:hover {
  border-bottom: 2px solid #414c57;
  transition: .7s;
  -webkit-transition: .7s; }

.header__navbar #my-nav {
  display: flex;
  justify-content: space-evenly; }

.header__navbar .search-box {
  position: relative;
  max-width: 273px;
  margin-left: 13px; }
  .header__navbar .search-box__input {
    width: 100%;
    border-radius: 0.25rem !important;
    border: 1px solid #414c57; }
    .header__navbar .search-box__input:focus {
      box-shadow: none;
      border-color: #414c57; }
  .header__navbar .search-box i.fa-search {
    position: absolute;
    z-index: 11;
    left: 24px;
    top: 11px; }

.header__navbar .btn-login {
  width: 93px;
  background: #424c56; }

.header__notif {
  height: 71px;
  padding: 6px 40px 6px 0;
  background: #414C57;
  color: #fff; }
  .header__notif--icon {
    background: #D83029;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    margin: 11px 11px 0; }
    .header__notif--icon .fa-bell {
      position: absolute;
      left: 7px;
      top: 7px; }

/*end header */
/*section form*/
.form-submit {
  position: relative;
  background: #303133;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .form-submit__description--yellow {
    font-weight: 700;
    color: #FECD33; }
  .form-submit__description--white {
    color: #FFF; }
  .form-submit__description--yellow, .form-submit__description--white {
    font-weight: 700;
    line-height: 2; }
  .form-submit__action {
    position: relative; }
    .form-submit__action--button .search-box__input {
      background: #D83029;
      height: 48PX; }
      .form-submit__action--button .search-box__input:hover {
        opacity: 0.8; }
    .form-submit__action--span {
      margin-top: 10px; }
    .form-submit__action--rect {
      position: absolute;
      z-index: -1;
      top: -64px;
      left: -32px; }
      .form-submit__action--rect img {
        max-width: 324px; }
    .form-submit__action--group input[type="text"] {
      border: 1px solid #771915;
      margin-bottom: 10px; }
    .form-submit__action--group button {
      background: #FECD33;
      color: #303133;
      font-weight: 700; }
  .form-submit__rect {
    position: absolute;
    bottom: -27px;
    left: 135px;
    width: 340px;
    z-index: -1; }
    .form-submit__rect img {
      max-width: 100%; }
  .form-submit__rect-newsgroup {
    position: absolute;
    left: 0;
    bottom: -6px; }
    .form-submit__rect-newsgroup img {
      max-width: 100%; }

.newsgroup {
  background: #303133 url("../img/news-back.png") no-repeat center center/cover; }

/*end section form*/
/*section blog*/
.blog-sec {
  position: relative;
  z-index: -2;
  background-color: #e9ecef; }
  .blog-sec__head {
    display: flex;
    justify-content: space-between;
    margin: 2rem 14rem;
    color: #D63230; }
    .blog-sec__head--title {
      color: #062E5e;
      font-weight: 700; }
    .blog-sec__head--button {
      width: 207px; }
      .blog-sec__head--button button {
        max-width: 100%;
        height: 43px;
        border-radius: 28px;
        color: red;
        font-size: 13px;
        font-weight: 700; }
        .blog-sec__head--button button:hover {
          color: #fff;
          background-color: #d83029;
          border-color: #d83029;
          border-radius: 28px; }
  .blog-sec__body {
    margin: 0 13rem 2rem 13rem; }

/**/
.card {
  width: 260px;
  background: unset;
  border: none; }
  .card__img {
    max-width: 100%; }
  .card__body {
    padding: 20px 15px;
    background: #fff;
    border-radius: 0 0 15px 15px; }
    .card__body--blog-meta {
      display: flex;
      justify-content: space-between;
      margin: -10px 0 12px 0; }
      .card__body--blog-meta .author {
        color: #d83029; }
        .card__body--blog-meta .author img {
          width: 21px;
          height: auto; }
      .card__body--blog-meta .date {
        font-size: 12px; }
    .card__body--title {
      display: flex;
      color: #303133;
      font-weight: 700; }
    .card__body--text {
      margin-top: 1rem; }
    .card__body--link {
      font-weight: 700;
      color: #303133;
      float: left; }

/*end section blog*/
/*section ravesh-mohajerat */
.ravesh-mohajerat {
  position: relative;
  /*z-index: -2;*/ }
  .ravesh-mohajerat .shape img {
    max-width: 100%;
    position: absolute;
    bottom: -26px;
    left: 0;
    z-index: 1; }

.title-box {
  border-top: 2px solid red;
  width: 99%;
  position: relative;
  margin: 20px 0;
  height: 20px; }
  .title-box .shape img {
    max-width: 100%;
    position: absolute;
    top: -76px;
    left: 0;
    z-index: 1; }
  .title-box h4 {
    margin-bottom: 2rem;
    padding: 0 36px; }
  .title-box__title {
    position: absolute;
    bottom: -22px; }

.model {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px; }
  .model a {
    color: #303133 !important;
    font-weight: 700; }
  .model__description {
    display: flex;
    justify-content: space-between; }
    .model__description img {
      max-width: 110px; }
    .model__description p {
      padding: 5px 20px; }

/*end section ravesh-mohajerat*/
/*view-box*/
.view-box {
  display: flex;
  justify-content: space-between; }
  .view-box__video {
    padding: 20px 30px 10px;
    background: #671420;
    width: 400px;
    max-height: 571px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 42px;
    color: #fff; }
    .view-box__video video {
      max-width: 339px;
      height: auto;
      padding: 10px; }
    .view-box__video ul {
      margin-right: 35px; }
    .view-box__video ul li {
      text-align: right;
      list-style: disc; }
    .view-box__video a {
      color: #fff; }
    .view-box__video h5 {
      font-size: 1rem;
      font-weight: 700;
      margin-right: 24px; }
  .view-box__map img {
    max-height: 328px; }
  .view-box__map--contact {
    display: flex;
    justify-content: space-around;
    margin: 28px auto 0 auto;
    max-width: 519px;
    padding: 15px;
    border: 1px solid red;
    border-radius: 5px;
    background: #414C57;
    color: #fff;
    font-size: 12px; }
    .view-box__map--contact a {
      color: #fff; }
    .view-box__map--contact i {
      margin-right: 8px; }

/*end view-box*/
/*footer*/
.footer {
  position: relative;
  color: #fff; }
  .footer a {
    color: #fff; }
  .footer ul {
    text-align: right; }
  .footer ul li {
    list-style: disc; }

/*end footer*/
.footer-logo {
  padding: 24px; }
  .footer-logo img {
    max-width: 100%;
    height: 130px; }

.footer-top {
  /* background: #303133 url("../img/rectangle.svg") no-repeat center center/cover; */
  background-image: url("../img/rectangle.svg"); }

.footer-button {
  /*  background: #303133 url("../img/footer-botton.svg") no-repeat center center/cover; */
  background-image: url("../img/footer-botton.svg");
  padding: 10px; }

img.faraz-logo {
  max-width: 33px;
  height: auto;
  margin-right: 5px; }

.contact-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 176px;
  justify-content: space-around; }

.social {
  display: flex;
  justify-content: space-around;
  width: 200px;
  font-size: 30px; }

/*blank white row only*/
.blank-row {
  height: 40px;
  background: #f4f5f6;
  z-index: -2;
  position: relative; }

.blank-row2 {
  height: 90px;
  background: #f4f5f6;
  z-index: -2;
  position: relative; }

/*end blank white row only*/
.dark-right {
  position: absolute;
  right: -602px;
  top: -70px;
  z-index: -2; }
  .dark-right img {
    max-width: 100%; }

.dark-left {
  position: absolute;
  left: 378px;
  top: -51px;
  z-index: -2; }
  .dark-left img {
    max-width: 100%; }

svg {
  max-width: 100%; }

/******************************/
/*video sectiom*/
.aparat, .youtube {
  background-repeat: no-repeat;
  background-size: contain;
  width: 115px; }

.aparat {
  background-image: url(../img/aparat.png); }

.youtube {
  background-image: url(../img/youtube.png); }

.follow-us {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79px; }
  .follow-us span {
    font-weight: 700;
    margin-left: 2px;
    color: #fff; }

.royalan-btn {
  color: #fff;
  background-color: #454546;
  width: 211px;
  font-size: 14px; }
  .royalan-btn img {
    width: 24px;
    margin: 0 -6px 4px 4px; }

.video-content__slider--posts {
  background: #A0A0A0;
  max-width: 303px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px; }

.responsive-video {
  max-width: 100%; }

.video-content__video {
  width: 439px; }

.video-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 41px; }

.post {
  display: flex;
  justify-content: space-between;
  margin: 6px; }
  .post p {
    padding: 0 10px; }
  .post img {
    max-width: 100%; }

.video-content__slider {
  position: relative; }

.video-content__slider--posts .post:first-child {
  margin-top: 25px; }

.video-content__slider--posts .post:last-child {
  margin-bottom: 15px; }

.video-content__slider--up, .video-content__slider--down {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #727272;
  color: #fff;
  text-align: center;
  line-height: 2;
  position: absolute;
  left: 50%; }

.video-content__slider--up {
  top: -13px; }

.video-content__slider--down {
  bottom: -12px; }

section.video {
  background: #333; }
  section.video p {
    color: #fff; }
